# 학교

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("전국초중등학교위치표준데이터.csv", encoding='cp949')

In [4]:
contains_keyword = df[df['소재지지번주소'].str.contains('경상남도|부산광역시|울산')]

In [5]:
school = contains_keyword[['학교명', '위도', '경도']].reset_index().drop("index", axis = 1)
school

             학교명         위도          경도
0     울산마이스터고등학교  35.560757  129.378178
1         부곡초등학교  35.436800  128.601562
2     김해중앙여자고등학교  35.232601  128.888617
3          인지중학교  35.204051  129.125590
4          개운중학교  35.412391  129.169984
...          ...        ...         ...
1837      대암초등학교  35.205866  128.709438
1838      봉곡초등학교  35.194104  128.075782
1839    창원신월고등학교  35.226838  128.693672
1840       덕천중학교  35.214234  129.011813
1841       일광중학교  35.265227  129.220461

[1842 rows x 3 columns]

# 공원

In [7]:
import pandas as pd
import numpy as np

In [8]:
park_df = pd.read_csv("전국도시공원정보표준데이터.csv", encoding ="CP949")

In [9]:
park_df.dropna(subset=['소재지지번주소'], inplace=True)
sec_df = park_df[park_df['소재지지번주소'].str.contains('경상남도|부산광역시|울산')]

In [10]:
park = sec_df[["소재지지번주소","위도","경도"]].reset_index(drop = True)
park

                      소재지지번주소         위도          경도
0       경상남도 창원시 성산구 중앙동 20-2  35.227394  128.675104
1       경상남도 창원시 성산구 사파동 72-1  35.221795  128.702275
2      경상남도 창원시 성산구 사파동 109-1  35.220745  128.699059
3        경상남도 창원시 성산구 사파동 115  35.222356  128.696864
4       경상남도 창원시 성산구 상남동 42-1  35.220407  128.685959
...                       ...        ...         ...
2407    경상남도 창원시 진해구 석동 647-1  35.157126  128.704628
2408      경상남도 창원시 진해구 석동 661  35.155642  128.709718
2409   경상남도 창원시 진해구 자은동 760-2  35.142667  128.708524
2410  경상남도 창원시 진해구 장천동 119-33  35.126888  128.707643
2411      경상남도 창원시 진해구 석동 671  35.158282  128.695187

[2412 rows x 3 columns]

# 휴게소

In [11]:
rest = pd.read_csv("전국휴게소정보표준데이터.csv", encoding ="CP949")
rest = rest[rest['휴게소명'].str.contains('경상남도|부산|울산')]
rest = rest[["휴게소명","위도","경도"]].reset_index(drop = True)

In [12]:
is_booleung = (rest['위도'] >= 34) & (rest['위도'] <= 36) & \
              (rest['경도'] >= 127) & (rest['경도'] <= 129.5)

rest = rest[is_booleung]

In [13]:
rest

            휴게소명         위도          경도
2         사천(부산)  35.073173  128.010802
4        섬진강(부산)  34.984700  127.770697
9         외동(부산)  35.672753  129.285277
10        울주(울산)  35.510821  129.130435
12        진주(부산)  35.159772  128.122010
18       통도사(부산)  35.488841  129.090775
19        평사(부산)  35.885522  128.867541
20        함안(부산)  35.294068  128.346957
22        건천(부산)  35.830716  129.109310
23        경주(부산)  35.724761  129.192950
27  통도사휴게소(부산방향)  35.488787  129.090782
31       장유(서부산)  35.212074  128.793580
33        진영(부산)  35.277910  128.715388

# 체육시설

In [14]:
sports = pd.read_csv("전국공공체육시설.csv")
sports.dropna(subset=['RDNMADR_NM'], inplace=True)
sports.dropna(subset=['FCLTY_LO'], inplace=True)
sports.dropna(subset=['FCLTY_LA'], inplace=True)

In [15]:
sports = sports[sports['RDNMADR_NM'].str.contains('경상남도|부산광역시|울산|경남')]

In [16]:
# sports = sports[sports['RDNMADR_NM'].str.contains('경상남도|부산광역시|울산')]
sports = sports[["FCLTY_NM","FCLTY_LA", "FCLTY_LO","INDUTY_NM"]].reset_index(drop = True)
sports = sports.rename(columns = {"FCLTY_NM" : "체육시설"})
sports = sports.rename(columns = {"FCLTY_LO" : "경도"})
sports = sports.rename(columns = {"FCLTY_LA" : "위도"})
sports = sports.rename(columns = {"INDUTY_NM" : "종류"})
sports = sports[sports['종류'].isin(['간이운동장', '기타시설', '육상경기장', '야구장', '롤러스케이트장', '양구장'])]

In [17]:
sports = sports.drop("종류", axis = 1)
sports

                         체육시설         위도          경도
0                         배구장  35.648683  127.693186
1     산청군 산청읍 모고리 (모고마을) 운동기구  35.430756  127.888530
2     산청군 산청읍 범학리 (범학마을) 운동기구  35.389140  127.913929
3      산청군 산청읍 산청리 (청호마을)운동기구  35.416847  127.877755
4           수철마을(마을회관 옆) 운동기구  35.404681  127.826368
...                       ...        ...         ...
2930   (공원-97) 두전마을소공원 야외운동시설  35.382533  129.027184
2931    (공원-99) 양주마을공원 야외운동시설  35.412532  129.066856
2934             낙동제방(삼락IC 밑)  35.196557  128.987832
2935              S,K사택옆 체육시설  35.554087  129.288523
2936              금산근린공원 X게임장  35.308577  129.026129

[2291 rows x 3 columns]

# 이름 바꾸기

In [18]:
# 첫 번째 열 이름 변경
sports.columns = ['공공장소', '위도', '경도']
rest.columns = ['공공장소', '위도', '경도']
school.columns = ['공공장소', '위도', '경도']
park.columns = ['공공장소', '위도', '경도']

# 데이터프레임 concat
# total_df = pd.concat([sports, rest, school, park], ignore_index=True)

In [3]:
# total_df = total_df[total_df["위도"] <= 36]
total_df = pd.read_csv("top_solution_1.csv")

In [4]:
total_df

      Index   Latitude   Longitude
0         0  35.648683  127.693186
1         1  35.404681  127.826368
2         2  35.488792  128.597822
3         3  35.462395  128.645564
4         4  35.345811  129.075440
...     ...        ...         ...
2659   2659  35.562789  129.232492
2660   2660  35.559023  129.129965
2661   2661  35.552870  129.252616
2662   2662  35.561794  129.128891
2663   2663  35.100714  128.743476

[2664 rows x 3 columns]

In [21]:
# 엑셀로
location = total_df.drop("공공장소",axis = 1)

In [22]:
location.to_csv("공공장소_위도경도.csv")

In [5]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 1.3 MB/s eta 0:00:00 0:00:01
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 1.7 MB/s eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.4.1

In [6]:
points_to_check = [
    (35.1763252, 128.0956717),
    (35.5200702, 129.4289116),
    (35.1008477, 129.0188032)
]

# 순서대로 경상국립대학교병원, 울산대학교병원, 부산대학교병원

In [13]:
## 

import folium
import pandas as pd
from geopy.distance import geodesic

# 지도 초기 위치 설정
map_center = [total_df['Latitude'].mean(), total_df['Longitude'].mean()]

# 반경 내 점 제거 함수
def filter_points_within_radius(df, points, radius_km):
    indices_to_remove = set()
    for point in points:
        for i, row in df.iterrows():
            if geodesic(point, (row['Latitude'], row['Longitude'])).km <= radius_km:
                indices_to_remove.add(i)
    return df.drop(indices_to_remove)

# 반경 10km 내 점 제거
filtered_df = filter_points_within_radius(total_df, points_to_check, 10)

# 지도 생성
m = folium.Map(location=map_center, zoom_start=10)

# 필터링된 점 추가
for i in range(len(filtered_df)):
    folium.Circle(
        location=[filtered_df.iloc[i]['Latitude'], filtered_df.iloc[i]['Longitude']],
        radius=10,  # 점의 반지름 설정 (원의 반지름)
        color='red',  # 점의 색상
        fill=True,
        fill_color='red',  # 점의 내부 색상
        fill_opacity=1,  # 점의 투명도 (1이면 완전 불투명)
    ).add_to(m)

# 지정된 3개의 점에 대해 반경 10km 원 추가
for point in points_to_check:
    folium.Circle(
        location=point,
        radius=10000,  # 반경 10km
        color='blue',  # 원의 색상
        fill=True,
        fill_color='blue',  # 원의 내부 색상
        fill_opacity=0.1,  # 원의 투명도 (0.2로 설정하여 반투명)
    ).add_to(m)
    folium.Marker(
        location=point,
        popup=f'Point: {point}',
        icon=folium.Icon(color='blue')
    ).add_to(m)

# 지도를 HTML 파일로 저장
m.save('부울경인계점위치_권역외상반경10제외_중간좌표색0.html')

In [11]:
!pip install folium

Collecting folium
  Downloading folium-0.16.0-py2.py3-none-any.whl.metadata (3.6 kB)
Collecting branca>=0.6.0 (from folium)
  Downloading branca-0.7.2-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in /opt/anaconda3/lib/python3.11/site-packages (from folium) (3.1.3)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.11/site-packages (from folium) (1.26.4)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from folium) (2.31.0)
Requirement already satisfied: xyzservices in /opt/anaconda3/lib/python3.11/site-packages (from folium) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jinja2>=2.9->folium) (2.1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium) (2024.2.2)
Downloading folium-0.16.0-py2.py3-none-any.whl (100 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 1.5 MB/s eta 0:00:00 0:00:01
Downloading branca-0.7.2-py3-none-any.whl (25 kB)
Installing collected packages: branca, folium
Successfully installed branca-0.7.2 folium-0.16.0

In [40]:
## 반경 20 제외 

import folium
import pandas as pd
from geopy.distance import geodesic

# 지도 초기 위치 설정
map_center = [total_df['위도'].mean(), total_df['경도'].mean()]

# 반경 내 점 제거 함수
def filter_points_within_radius(df, points, radius_km):
    indices_to_remove = set()
    for point in points:
        for i, row in df.iterrows():
            if geodesic(point, (row['위도'], row['경도'])).km <= radius_km:
                indices_to_remove.add(i)
    return df.drop(indices_to_remove)

# 반경 20km 내 점 제거
filtered_df_20 = filter_points_within_radius(total_df, points_to_check, 20)

# 지도 생성
m = folium.Map(location=map_center, zoom_start=10)

# 필터링된 점 추가
for i in range(len(filtered_df_20)):
    folium.Circle(
        location=[filtered_df_20.iloc[i]['위도'], filtered_df_20.iloc[i]['경도']],
        radius=10,  # 점의 반지름 설정 (원의 반지름)
        color='red',  # 점의 색상
        fill=True,
        fill_color='red',  # 점의 내부 색상
        fill_opacity=1,  # 점의 투명도 (1이면 완전 불투명)
    ).add_to(m)

# 지정된 3개의 점에 대해 반경 20km 원 추가
for point in points_to_check:
    folium.Circle(
        location=point,
        radius=20000,  # 반경 10km
        color='blue',  # 원의 색상
        fill=True,
        fill_color='blue',  # 원의 내부 색상
        fill_opacity=0.1,  # 원의 투명도 (0.2로 설정하여 반투명)
    ).add_to(m)
    folium.Marker(
        location=point,
        popup=f'Point: {point}',
        icon=folium.Icon(color='blue')
    ).add_to(m)

# 지도를 HTML 파일로 저장
m.save('20km.html')

In [36]:
filter_loc = filtered_df.drop("공공장소",axis = 1)
filter_loc.to_csv("10km_제외_위도경도.csv")

In [28]:
import folium
import pandas as pd
from geopy.distance import geodesic

# 지도 초기 위치 설정
map_center = [total_df['위도'].mean(), total_df['경도'].mean()]

# 반경 내 점 제거 함수
def filter_points_within_radius(df, points, radius_km):
    indices_to_remove = set()
    for point in points:
        for i, row in df.iterrows():
            if geodesic(point, (row['위도'], row['경도'])).km <= radius_km:
                indices_to_remove.add(i)
    return df.drop(indices_to_remove)

# 반경 10km 내 점 제거
filtered_df = filter_points_within_radius(total_df, points_to_check, 10)

# 지도 생성
m = folium.Map(location=map_center, zoom_start=10)

# 필터링된 점 추가
for i in range(len(filtered_df)):
    folium.Circle(
        location=[filtered_df.iloc[i]['위도'], filtered_df.iloc[i]['경도']],
        radius=10,  # 점의 반지름 설정 (원의 반지름)
        color='red',  # 점의 색상
        fill=True,
        fill_color='red',  # 점의 내부 색상
        fill_opacity=1,  # 점의 투명도 (1이면 완전 불투명)
    ).add_to(m)

# 지도를 HTML 파일로 저장
m.save('최종공공장소위치_필터링.html')

In [38]:
## # 원래 기본

import folium
import pandas as pd

# 지도 초기 위치 설정
map_center = [filtered_df['위도'].mean(), filtered_df['경도'].mean()]

# 지도 생성
m = folium.Map(location=map_center, zoom_start=10)

# 각 학교에 대해 점 추가
for i in range(len(filtered_df)):
    folium.Circle(
        location=[filtered_df.iloc[i]['위도'], filtered_df.iloc[i]['경도']],
        radius=10,  # 점의 반지름 설정 (원의 반지름)
        color='red',  # 점의 색상
        fill=True,
        fill_color='red',  # 점의 내부 색상
        fill_opacity=1,  # 점의 투명도 (1이면 완전 불투명)
    ).add_to(m)

# 지도를 HTML 파일로 저장
m.save('check.html')